.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  font-family: $tertiary-font-stack;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.29;
  color: $secondary-dark;
  background-color: $light-peach;
  @media screen and (min-width: 768px) {
    background-color: transparent;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav-wrapper {
    display: flex;
    align-items: center;
    gap: 42px;
  }

  &__nav {
    @media screen and (max-width: 768px) {
      position: absolute;
      top: 100%;
      left: 0;
      transform: translateY(-100%);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 64px;
      order: 3;
      width: 100%;
      padding: 98px 0;
      font-family: $secondary-font-stack;
      font-size: 30px;
      line-height: 1.5;
      letter-spacing: 0.2px;
      color: $dark-grey;
      background-color: $light-peach;
      opacity: 0;
      pointer-events: none;
      z-index: 3;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      gap: 64px;
    }
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 62px;
    }
  }

  &__nav-link {
    display: block;
    padding: 0;
    transition: color 300ms $timing-function, transform 300ms $timing-function;

    @media screen and (min-width: 768px) {
      padding: 24px 0;
    }

    &:hover {
      color: $red;
      transform: scale(1.15);
    }
  }

  &__control-wrapper {
    display: none;
    align-items: center;
    gap: 42px;

    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  &__login-button {
    @include auth-button(transparent);
  }

  &__sign-button {
    @include auth-button($secondary-dark);
  }
}
