.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  font-family: $tertiary-font-stack;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.29;
  color: $secondary-dark;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav-wrapper {
    display: flex;
    align-items: center;
    gap: 65px;
  }

  &__nav-list {
    display: flex;
    gap: 62px;
  }

  &__nav-link {
    display: block;
    padding: 24px 0;
  }

  &__control-wrapper {
    display: flex;
    align-items: center;
    gap: 42px;
  }

  &__login-button {
    @include auth-button(transparent);
  }

  &__sign-button {
    @include auth-button($secondary-dark);
  }
}
