.selling {
  padding: 0 0 84px;
  @media screen and (min-width: 1200px) {
    padding: 173px 0 92px;
  }

  &__pre-title {
    margin-bottom: 32px;
    @include ad-pre-title(
      (
        font-size: 20px,
        text-align: center,
      )
    );
    @media screen and (min-width: 1200px) {
      display: none;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: 240px;
    grid-template-rows: repeat(5, 80px);
    justify-content: center;
    justify-items: center;
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(auto-fill, 240px);
      grid-template-rows: repeat(3, 86px);
      justify-items: center;
      gap: 32px;
    }
    @media screen and (min-width: 824px) {
      grid-template-rows: repeat(2, 86px);
    }

    @media screen and (min-width: 1200px) {
      grid-template-columns: repeat(5, 240px);
      grid-template-rows: 86px;
      gap: 0;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    background-color: $white;
    border-radius: 10px;
    filter: grayscale(100%);
    cursor: pointer;
    transition: box-shadow 250ms $timing-function, filter 250ms $timing-function;

    &:hover {
      box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
        0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
        0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
        0px 20px 13px rgba(0, 0, 0, 0.01),
        0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
        0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
      filter: grayscale(0);
    }
  }
}
