.subscribe {
  padding: 0 0 58px;
  @media screen and (min-width: 768px) {
    padding: 32px 0 166px;
    background-image: url("../../assets/subscribe-plus.png");
    background-repeat: no-repeat;
    background-position: bottom 98px right;
  }

  &__container {
    max-width: 90%;
    @media screen and (max-width: 767px) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      justify-content: center;
      gap: 25px;
      background-color: transparent;
    }
    @media screen and (min-width: 768px) {
      position: relative;
      padding: 79px 155px;
      background-color: $light-purple;
      border-radius: 129px 20px 20px 20px;
    }
    @media screen and (min-width: 1200px) {
      max-width: 1200px;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    color: $white;
    background: linear-gradient(
      201.65deg,
      $primary-dark-purple 10.27%,
      $secondary-dark-purple 100%
    );
    border-radius: 50%;
    @media screen and (min-width: 768px) {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(25%, -25%);
    }
  }

  &__description {
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and(min-width: 768px) {
      margin-bottom: 74px;
      font-family: $secondary-font-stack;
      font-weight: 600;
      font-size: 24px;
      line-height: 1.64;
      text-align: center;
    }
    @media screen and(min-width: 1200px) {
      font-size: 33px;
    }
  }

  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-width: 768px) {
      flex-direction: column;
      gap: 24px;
      width: 100%;
      margin: 0 auto;
    }
    @media screen and (min-width: 950px) {
      flex-direction: row;
      width: 640px;
    }
  }

  &__field {
    @media screen and (max-width: 767px) {
      display: none;
    }
    width: 65%;
  }

  &__input {
    width: 100%;
    padding: 23px 28px 28px;
    font-family: $senary-font-stack;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    color: $primary-dark-purple;
    background-color: $white;
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    transition: border-color 250ms $timing-function;

    &::placeholder {
      font-family: $senary-font-stack;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.21;
      color: $tertiary-light;
    }

    &:focus {
      border-color: $primary-dark-purple;
    }
  }

  &__button {
    @include filled-button(
      180px,
      68px,
      $quinary-font-stack,
      600,
      17px,
      1.35,
      linear-gradient(180deg, $primary-light-red 0%, $dark-red 100%)
    );
    @media screen and (min-width: 768px) and (max-width: 950px) {
      width: 65%;
    }
  }
}
