.travel {
  padding: 72px 0 92px;
  @media screen and (min-width: 768px) {
    height: 1420px;
    background-image: url("../../assets/ellipse.png"),
      url("../../assets/decore.png");
    background-repeat: no-repeat;
    background-position: top left, top right;
  }
  @media screen and (min-width: 852px) {
    height: 1200px;
  }
  @media screen and (min-width: 1080px) {
    height: 1100px;
  }
  @media screen and (min-width: 1200px) {
    height: 966px;
    padding-top: 110px;
  }

  &__container {
    position: relative;
  }

  &__content {
    position: relative;
    padding-top: 74px;
    @media screen and (min-width: 768px) {
      padding-top: 107px;
    }
    @media screen and (min-width: 1200px) {
      width: 547px;
    }
  }

  &__pre-title {
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: 768px) {
      margin-bottom: 24px;
      font-family: $secondary-font-stack;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.5;
      text-transform: uppercase;
      color: $red;
    }
  }

  &__title {
    margin-bottom: 19px;
    padding-left: 40px;
    font-family: $quaternary-font-stack;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.85;
    letter-spacing: -0.04em;
    color: $tertiary-dark;
    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
      padding-left: 0;
      font-size: 84px;
      line-height: 1.06;
    }
  }

  &__description {
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: 768px) {
      width: 477px;
      margin-bottom: 34px;
      font-family: $secondary-font-stack;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.88;
    }
  }

  &__image {
    display: none;
    position: absolute;
    right: 0;

    @media screen and (min-width: 768px) {
      bottom: -100%;
      display: block;
      width: 660px;
    }
    @media screen and (min-width: 1080px) {
      bottom: -85%;
      width: 765px;
    }
    @media screen and (min-width: 1200px) {
      top: 0;
    }
  }

  &__plane {
    position: absolute;
    width: 158px;
    height: 150px;
    cursor: pointer;
    &_top {
      top: -4%;
      left: -32px;
      @media screen and (min-width: 768px) {
        top: 10%;
        left: 360px;
      }
      @media screen and (min-width: 1200px) {
        display: none;
      }
    }
    &_left {
      @media screen and (max-width: 1199px) {
        display: none;
      }
      @media screen and (min-width: 1200px) {
        top: 56px;
        left: 133px;

        @keyframes fly {
          0% {
            transform: translate(0, 0);
          }
          25% {
            transform: translate(100%, -50%);
          }
          50% {
            transform: translate(200%, -100%);
          }
          75% {
            transform: translate(300%, -150%);
          }
          85% {
            transform: translate(400%, -200%);
          }
          90% {
            transform: translate(500%, -200%);
          }
          95% {
            transform: translate(600%, -200%);
          }
          100% {
            transform: translate(700%, -200%);
          }
        }
        &:hover {
          animation: fly 3000ms linear 0s;
        }
      }
    }
    &_right {
      @media screen and (max-width: 1199px) {
        display: none;
      }
      @media screen and (min-width: 1200px) {
        top: 103px;
        right: -12px;
        &:hover {
          animation: fly 3000ms linear 0s;
        }
      }
    }
  }

  &__controll-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    @media screen and (max-width: 767px) {
      background-image: url("../../assets/offer-plus.png");
      background-repeat: no-repeat;
      background-position: bottom 12px right -42px;
    }
    @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 44px;
    }
  }

  &__find-button {
    @include filled-button(
      170px,
      60px,
      $tertiary-font-stack,
      500,
      18px,
      1.28,
      $yellow,
      0px 20px 35px rgba(241, 165, 1, 0.15)
    );
  }

  &__demo-button {
    @extend %button;
    gap: 21px;
    font-family: $secondary-font-stack;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    color: $quaternary-light;
    background-color: transparent;
    border: none;
  }
}

.demo-button {
  &__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    background-color: $red;
    border-radius: 100px;
    box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
  }
}
