@font-face {
  font-family: "Google Sans";
  font-display: swap;
  src: local("O"), url("../../fonts/Google-Sans-Medium.woff") format("woff"),
    url("../../fonts/Google-Sans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: $primary-font-stack;
  font-size: 22px;
  color: $primary-light;
  background: $white;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
